.study
  h2.study__title RECENT WORKS
  p.study__text
    | It has survived not only five centuries, but also the leap scrambled
    | it to make a type.
  .beat
    .beat__linear
    .beat__tochka
    .beat__linear
  