.works
  h2.work__title RECENT WORKS
  p.work__text
    | It has survived not only five centuries, but also the leap scrambled
    | it to make a type.
  .beat
    .beat__linear
    .beat__tochka
    .beat__linear
  .work__items
    span.work--red ALL
    |  / PRINT DESIGN / ANIMATION / ART /
    |           WEB DESIGN / PHOTOGRAPHY / VIDEO
  .grid
    .grid__images
      img.grid__img(src='../images/images.work/works1.jpg' alt='')
    .grid__images.grid--bg-color
      img.grid__img(src='../images/images.work/works2.jpg' alt='')
    .grid__images
      img.grid__img(src='../images/images.work/works3.jpg' alt='')
    .grid__images
      img.grid__img(src='../images/images.work/works4.jpg' alt='')
    .grid__images
      img.grid__img(src='../images/images.work/works5.jpg' alt='')
    .grid__images
      img.grid__img(src='../images/images.work/works6.jpg' alt='')
    .grid__images
      img.grid__img(src='../images/images.work/works7.jpg' alt='')
    .grid__images
      img.grid__img(src='../images/images.work/works8.jpg' alt='')
