doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .container 
            h2.title Recent Works
            p.text It has survived not only five centuries, but also the leap scrambled it to make a type.
            a.link(href="#") all 
            a.link(href="#") print design 
            a.link(href="#") animation 
            a.link(href="#") art 
            a.link(href="#") web design 
            a.link(href="#") photography 
            a.link(href="#") video 