doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Document
    link(rel='stylesheet' href='../css/style.css')
  body
    .wrapper
      //- danatik
      include includes/top-nav
      //- Jacedekd
      include includes/hero
      //- CharlieHollywood
      include includes/skills
      //- Rakhilia
      include includes/history
      //- Solidniy01
      include includes/services
      //- Arlen127
      include includes/works
      include includes/study
      //- erbol0512
      include includes/numbers
      //- erbol0512
      include includes/pricing
      include includes/team
      //- azamat71111
      include includes/blog
      include includes/contact
      include includes/promo
      //- Atai7
      include includes/footer
